
header {
    font-size: 60px;
    text-align: right;
    margin: 20px;
    background-color: rgb(22, 66, 209);
    padding: 10px 50px;
    color: #ffffff;
    
}

body {
    font-family: sans-serif;
}

.button {
    background-color: rgb(22, 66, 209);
    color: #ffffff;
}

.input {
    text-align: left;;
    font-size: 20px;
    margin: 0px 0px 10px 20px;
    width: 300px;
}

aside ul {
    padding: 10px;
    margin: 0px;
    width: 240px;
    list-style: none;
    font-size: 20px;

    
}

.container li {
    border: 1px solid black;
    margin-left: 10px;
    padding: 10px;
   
    
}
.display {
    text-align: center;
    
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;

}