
.container {
    
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas: 
    "weatherDash weatherDash weatherDash"
    "citylist cityName cityName";
}

.weatherDash {
    grid-area: weatherDash;
    font-size: 60px;
    text-align: center;
    margin: 20px;
    background-color: rgb(22, 66, 209);
    padding: 10px 50px;
    color: #ffffff;
}
.citylist {
    grid-area: citylist;
    margin-left: 20px;
}
 .citylist ul {
    padding: 10px;
    width: 200px;
    list-style: none;
    font-size: 20px;
 }
 .citylist li {
    padding: 10px;
    height: 30px;
    border: 1px solid black;
 }
.cityName {
    grid-area: cityName;
    font-size: 40px;
    font-family: sans-serif;
    text-align: center;
   
}
.button {
    background-color: rgb(22, 66, 209);
    color: #ffffff;
}
